// @import url(https://fonts.googleapis.com/css?family=Quicksand)
@import config/reset
@import util/gridlex
@import util/flexitems
@import util/lang
@import layout/layout

$text-color: #526475
$btn-text-color: #000
$btn-border-color: #c0deed
$twitter-logo: #00aced
$facebook-logo: #3b5998
$github-logo: #000
$chat-list-color: #f1f5fa

code
  font-size: 12px


button
  color: $btn-text-color
  font-family: "Hiragino Sans"
  font-weight: 200
  background: #fff
  border-radius: 5px
  border: 1px solid $btn-border-color
  // width: 150px
  display: inline-block
  // margin: 5px 5px 20px


body
  font-family: sans-serif
  color: $text-color

.landing-page
  text-align: center

.login-icon
  // vertical-align: middle
  padding-right: 1.2rem

.login-btn
  cursor: pointer
  font-size: 16px
  height: 50px
  line-height: 50px
  margin: .2rem
  &:hover
    background: #333
    color: #fff
    border: 1px solid #eee
    & .fa-twitter, .fa-facebook-official, .fa-github
      color: #fff

// color set
.fa-twitter
  color: $twitter-logo
  &:hover
    color: red
.fa-facebook-official
  color: $facebook-logo
.fa-github
  color: $github-logo

.desc
  color: $text-color
  font-size: 2rem
  margin-bottom: 4rem
  font-family: "TsukuARdGothic-Regular"

// chat
.chat-list
  background: $chat-list-color
  font-family: "TsukuARdGothic-Regular", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif
  font-weight: 100
  overflow: auto
  height: 300px
  // msg
  .msg
    position: relative
    border: 1px solid #eee
    border-radius: 18px
    background-color: #fff
    padding: .9rem
    font-size: 1.2rem
    color: #333
    max-width: 300px

  .chat-ser-icon
    width: 30px
    height: 30px
  .chat-user
    padding-top: .5rem
    small
      padding-top: 8px
      padding-left: 10px
  li
    margin-bottom: 3rem


// // // @import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
// //
// // @import "modules/vars";
// // @import "modules/mixin";
// // @import "modules/base";
// //
// //
// // // default
// // html,body {
// //   font-family: $base-font;
// //     // margin: 2rem;
// //
// // }
// //
// // button,
// // input {
// //     font-size: 16px;
// //     margin: 1rem 0;
// // }
// //
// // main {
// //   /* Using plain CSS */
// //   @media (min-width: 768px) {
// //     margin: auto 20%;
// //     min-width: 600px;
// //
// //   }
// // }
// //
// // // set
// // header {
// //     .logo {
// //         @extend .title;
// //         width: 80px;
// //         height: 80px;
// //     }
// //     .title {
// //         display: flex;
// //         flex-direction: column;
// //         align-items: center;
// //         margin-bottom: 2rem;
// //     }
// //     .desc {
// //         font-weight: 100;
// //         text-align: center;
// //         @extend .title;
// //         line-height: 1.5rem;
// //     }
// //     h1 {
// //         font-weight: 600;
// //         font-size: 2rem;
// //         font-family: $base-font;
// //         color: darkgrey;
// //     }
// //     #loginDiv {
// //         display: flex;
// //         justify-content: center;
// //     }
// // }
// //
// // // main
// // .list {
// //     @extend .title;
// //     margin-top: 3rem;
// // }
// //
// // .msg {
// //     // http://ios7colors.com/
// //     @extend .util-shadow;
// //     border-radius: 0.6rem;
// //     background: white;
// //     line-height: 2.8rem;
// //     padding: 1rem;
// //     margin-bottom: 1rem;
// //     color: white;
// //     @include linearGradient($tw-color, #1D62F0);
// // }
// // button {
// //     background: $tw-color;
// //     border: 0;
// //     color: white;
// //     border-radius: 0.4rem;
// //     padding: 0.6rem;
// // }
// // input {
// //     outline: none;
// //     border-radius: 0.4rem;
// // }
// // .msg-input {
// //     display: flex;
// //     margin-bottom: 3rem;
// // }
// // #messageInput {
// //     height: 56px;
// //     border: 0;
// //     width: 80%;
// //     color: #737373;
// //     background: whitesmoke;
// //     letter-spacing: 1px;
// //     text-indent: 5%;
// //     border-radius: 5px 0 0 5px;
// // }
// // #submit {
// //     height: 58px;
// //     border: 0;
// //     width: 25%;
// //     background: darkgrey;
// //     font-weight: bold;
// //     color: white;
// //     letter-spacing: 1px;
// //     border-radius: 0 5px 5px 0;
// //     cursor: pointer;
// //     transition: background 0.3s ease-in-out;
// //     &:hover {
// //         background: lightgrey;
// //     }
// // }
// // .time {
// //     // padding-left: .8rem;
// //     font-size: 12px;
// //     display: box;
// //     color: #333;
// // }
// // .btn {
// //     display: flex;
// // }
// // .load {
// //   margin-bottom: 1000px;
// //   display: flex;
// //   justify-content: center;
// // }
// // .load-icon {
// //   color: $tw-color;
// // }
// //
// // footer {
// //   margin-top: 3rem;
// //   a {color: lightgrey; &:hover {color: #1F1F21;}}
// //   ul {
// //     display: flex;
// //     list-style: none;
// //     justify-content: flex-end;
// //   }
// //   li {
// //     padding-right: 1rem;
// //   }
// //   p { font-size: .8rem; }
// // }
// //
// // .profile-pic {
// //   // padding-left: 2rem;
// //   width: 30px;
// //   height: 30px;
// // }
// // .user {
// //   font-size: .8rem;
// //   // padding-left: 2rem;
// //   font-family: menlo;
// // }
// // .user-meta {
// //   padding-left: .8rem;
// //   display: inline-block;
// //   color: #b9d3ee;
// //   span {
// //     display: block;
// //     line-height: .9rem;
// //   }
// // }
// // .msg-box {
// //   max-width: 80%;
// //   word-break: break-all;
// // }
// body
//   background: blue
