/* ==========================================================================
    Flex items | v. 0.0.1

    Just a Position in flexbox items
========================================================================== */

.item-center {
  display: flex;
  justify-content: center;
  color: red;
}
