doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='style.css', media='screen')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Simple chat application with Twitter login
  body
    #container
    h1 Worked!
    script(src='bower_components/moment/moment.js')
    script(src='bower_components/firebase/firebase.js')
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='script.js')